body {
    vertical-align:middle; 
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: monospace, Courier, "Times New Roman";
}

.title {
    vertical-align:middle;

}






