body {
    vertical-align:middle; 
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family:  "Times New Roman", Courier,monospace;
}

.title {
    vertical-align:middle;

}






